DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

SEED_SUPERADMIN_EMAIL=superadmin@example.com
SEED_SUPERADMIN_PASSWORD=secret123
SEED_SUPERADMIN_NAME=Super Admin
SEED_SUPERADMIN_PHONE=08123456789
SEED_SUPERADMIN_ADDRESS=Jakarta HQ
SEED_SUPERADMIN_SEX=male
SEED_SUPERADMIN_BIRTH_DATE=1990-01-01
SEED_SUPERADMIN_JOIN_AT=2026-01-01